<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="CafeDB"
			 connectionString="Server=DESKTOP-T7I9H8E\SQLEXPRESS;Database=AKuUni_IS;Trusted_Connection=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

